dspy==2.6.12
gradio==5.22.0
graspologic==3.4.1
hnswlib==0.8.0
httpx==0.28.1
lightrag_hku==1.2.5
nano_vectordb==0.0.4.3
neo4j==5.28.1
nest_asyncio==1.6.0
networkx==3.4.2
openai==1.66.5
pydantic==2.10.6
pypdf==5.4.0
python-dotenv==1.0.1
sentence_transformers==3.4.1
setuptools==76.0.0
tenacity==9.0.0
tiktoken==0.9.0
tqdm==4.67.1
xxhash==3.5.0
pipmaster==0.5.1
future==1.0.0